<mat-toolbar>
    <mat-toolbar-row>
        <h2 class="mat-h2">
            {{ username }}
        </h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list>
    <a mat-list-item (click)="homeRedirect()">
        <mat-icon svgIcon="home"></mat-icon>
        <span style="padding-left: 15px;">
            Strona główna
        </span>
        <span fxFlex></span>
    </a>
    <a *appAuthAdmin mat-list-item (click)="usersRedirect()">
        <mat-icon svgIcon="account-details"></mat-icon>
        <span style="padding-left: 15px;">
            Zarządzaj użytkownikami
        </span>
        <span fxFlex></span>
    </a>
</mat-nav-list>