<div fxLayout="column">
    <mat-checkbox *ngFor="let option of valueKeys" [(ngModel)]="checked[option]"
        (ngModelChange)="onChange(option, menuTrigger)">
        {{ option }}
        <span [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            class="mat-body-strong">({{ value[option] || optionsPlaceholder }})</span>
        <mat-menu #menu>
            <button mat-menu-item *ngFor="let suboption of options"
                (click)="setValue(option, suboption)"><span>{{ suboption }}</span></button>
        </mat-menu>
    </mat-checkbox>
    <mat-checkbox *ngFor="let i of customId" [(ngModel)]="customChecked[i]" (ngModelChange)="onChange()">
        <input matInput style="margin-left: 8px" [(ngModel)]="customName[i]" #customInput (ngModelChange)="onChange()"
            [placeholder]="customPlaceholder">
    </mat-checkbox>
    <app-noop-checkbox *ngIf="allowCustom === '' || allowCustom > customValue?.length" (clicked)="addCustom()"
        #newCustomCheckbox>
        <input matInput [placeholder]="customPlaceholder" style="margin-left: 8px">
    </app-noop-checkbox>
</div>