/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/cdk/_text-field'; 
@import '~@angular/material/theming';
@import './green-theme.scss';

@include mat-core();

$cairo-typography: mat-typography-config(
    $font-family: 'Cairo'
);

@include angular-material-theme($green-theme);
@include angular-material-typography($cairo-typography);

// Set custom-autofill inputs to have no background and red text.
input {
  @include cdk-text-field-autofill-color(transparent, #fff);
}

@font-face {
    font-family: 'CrimsonText-Bold';
    src: url(assets/fonts/CrimsonText-Bold.ttf) format('truetype');
}

body {
    margin: 0;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
}

.spacer {
    min-width: 10px;
    flex: 1 1 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}
  
.form-container form {
    margin-bottom: 20px;
}
  
.form-container form > * {
    margin: 5px 0;
}

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
}
.mat-icon svg {
    height: 24px;
    width: 24px;
}
.mat-step-icon-content .mat-icon svg {
    height: 100%;
    width: 100%;
}

.crimson-bold {
    font-family: 'CrimsonText-Bold';
    // letter-spacing: 0.01em;
}