/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/cdk/_text-field';
@import '~@angular/material/theming';
@import './green-theme.scss';

@include mat-core();

// Font configuration

$cairo-typography: mat-typography-config(
    $font-family: 'Cairo',
    $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $display-1: mat-typography-level(34px, 40px, 400),
    $headline: mat-typography-level(24px, 32px, 400),
    $title: mat-typography-level(20px, 32px, 500),
    $subheading-2: mat-typography-level(16px, 28px, 400),
    $subheading-1: mat-typography-level(15px, 24px, 400),
    $body-2: mat-typography-level(14px, 24px, 500),
    $body-1: mat-typography-level(14px, 20px, 400),
    $caption: mat-typography-level(12px, 20px, 400),
    $button: mat-typography-level(14px, 14px, 500),
    $input: mat-typography-level(inherit, 1.125, 400),
);

@include angular-material-theme($green-theme);
@include angular-material-typography($cairo-typography);

// Set custom-autofill inputs to have no background and red text.
// input {
//   @include cdk-text-field-autofill-color(transparent, #fff);
// }

@font-face {
    font-family: 'CrimsonText-Bold';
    src: url(assets/fonts/CrimsonText-Bold.ttf) format('truetype');
}

body {
    margin: 0;
}

a {
    color: mat-color(map-get($green-theme, accent));
}

a:visited {
    color: mat-color(map-get($green-theme, accent), darker);
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
pre {
    background-color: mat-color(map-get($green-theme, background), lighter);
}
code {
    font-size: 16px;
}
.spacer {
    min-width: 10px;
    flex: 1 1 auto;
}
.bt-large {
    font-size: 22px;
    font-weight: 500;
    // letter-spacing: 0.05em;
}
.bt-medium {
    font-size: 18px;
    // letter-spacing: 0.05em;
}
.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}

.form-container form {
    margin-bottom: 20px;
}

.form-container form > * {
    margin: 5px 0;
}

button.mat-menu-item {
    line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
}
.mat-icon svg {
    height: 24px;
    width: 24px;
}
.mat-step-icon-content .mat-icon svg {
    height: 100%;
    width: 100%;
}

.crimson-bold {
    font-family: 'CrimsonText-Bold';
    // letter-spacing: 0.01em;
}

.alert {
    color: mat-color(map-get($green-theme, warn), default);
}
// Icons sizes
$font-types: display-4, display-3, display-2, display-1, headline, title, subheading-2, subheading-1, body-2, body-1, caption, button, input;

@each $font in $font-types {
    .icon-#{$font} {
        width: map-get(map-get($cairo-typography, $font), font-size) !important;
        height: map-get(map-get($cairo-typography, $font), font-size) !important;
        svg {
            width: map-get(map-get($cairo-typography, $font), font-size);
            height: map-get(map-get($cairo-typography, $font), font-size);
        }
    }
}
