@import '~@angular/material/theming';

.content {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.mat-tab-group {
    width: 100%;
    height: 100%;
}

::ng-deep {
    .tab-group-center-labels {
        .mat-tab-labels {
            justify-content: center;
        }
    }

    .mat-tab-body-wrapper {
        flex-grow: 1;
    }
}

.exercise-content-wrapper {
    padding: 16px;
}

mat-panel-title {
    flex-grow: unset;
}

mat-panel-description {
    margin-right: 0;
}

.description-wrapper {
    width: 100%;
}

.success-icon {
    color: map-get($mat-green, 500);
}

.failure-icon {
    color: map-get($mat-red, 500);
}

.icon-wrapper {
    display: flex;
    margin: 0 16px 0 4px;
    align-items: center;
    justify-content: center;
}

.stderr {
    color: map-get($mat-red, 500);
}

.dense {
    .mat-expansion-panel-header.mat-expanded {
        height: 48px;
    }

    .mat-expansion-panel-header {
        height: 36px;
        // padding: 0 12px;
    }

    .mat-expansion-panel-body {
        padding: 0 12px 8px;
    }
}

.code-wrapper {
    code {
        font-size: 12px;
    }
}

.results-wrapper {
    padding: 8px;
}

.result-label {
    width: 100px;
}

.submit-btn {
    width: 100px;
}
