<mat-card>
    <mat-card-title>
        Uczniowie
    </mat-card-title>
    <mat-card-content>
        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="pupils">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
                    <td mat-cell data-label="Imię i nazwisko" *matCellDef="let pupil" (click)="rowClicked(pupil)">
                        {{ pupil.name }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell data-label="Email" *matCellDef="let pupil" (click)="rowClicked(pupil)">
                        {{ pupil.email }}</td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Telefon</th>
                    <td mat-cell data-label="Telefon" *matCellDef="let pupil" (click)="rowClicked(pupil)">
                        {{ pupil.phone }}</td>
                </ng-container>

                <ng-container matColumnDef="needs">
                    <th mat-header-cell *matHeaderCellDef>Potrzeby</th>
                    <td mat-cell data-label="Potrzeby" *matCellDef="let pupil" (click)="rowClicked(pupil)">
                        {{ pupil.needs }}</td>
                </ng-container>

                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef>Klasa</th>
                    <td mat-cell data-label="Klasa" *matCellDef="let pupil" (click)="rowClicked(pupil)">
                        {{ pupil.class }}</td>
                </ng-container>

                <ng-container matColumnDef="notes">
                    <th mat-header-cell *matHeaderCellDef>Notatki</th>
                    <td mat-cell data-label="Notatki" *matCellDef="let pupil"
                        [innerHTML]="pupil.notes.replace('\n', '<br />')" (click)="rowClicked(pupil)"></td>
                </ng-container>

                <ng-container matColumnDef="assignedTutorName">
                    <th mat-header-cell *matHeaderCellDef>Korepetytor</th>
                    <td mat-cell data-label="Korepetytor" *matCellDef="let pupil" (click)="rowClicked(pupil)">
                        {{ pupil.assignedTutorName }}
                    </td>
                </ng-container>

                <ng-container *appAuthManager matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell class="options-cell" *matCellDef="let pupil">
                        <button mat-icon-button *ngIf="!(mobileView | async)" (click)="editPupil(pupil)">
                            <mat-icon svgIcon="pencil"></mat-icon>
                        </button>
                        <button mat-raised-button *ngIf="mobileView | async" color="primary" (click)="editPupil(pupil)">
                            <mat-icon svgIcon="pencil"></mat-icon>
                            Edytuj
                        </button>
                        <button mat-icon-button *ngIf="!(mobileView | async)" (click)="deletePupil(pupil)">
                            <mat-icon svgIcon="delete"></mat-icon>
                        </button>
                        <button mat-raised-button *ngIf="mobileView | async" color="warn" style="margin-left: 8px"
                            (click)="deletePupil(pupil)">
                            <mat-icon svgIcon="delete"></mat-icon>
                            Usuń
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let pupil; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div *appAuthManager class="fab-container">
            <button mat-fab class="add-fab" color="primary" (click)="addPupilDialog()">
                <mat-icon svgIcon="plus"></mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>