.mat-table {
    width: 100%;
}

// .add-fab {
//     position: fixed !important;
//     bottom: 20px;
//     right: 20px;
// }

.main-container {
    padding: 15px;
}

.fab-container {
    width: 100%;
    padding-top: 5px;
    text-align: right;
}

.options-cell {
    text-align: right;
}

.mat-table .mat-cell {
    max-width: 15vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1199px) {
    .mat-table {
        margin-bottom: 0;
    }

    .mat-header-row {
        height: 0;
    }

    .mat-row {
        display: block;
        border-top: 1px solid #d0d0d0;
        border-radius: 2px;
        height: auto;
    }

    .mat-row .mat-cell {
        display: block;
        text-align: right;
        padding: 12px 8px 8px;
        min-height: 16px;
        max-width: none;
    }

    .mat-table .mat-cell[data-label]:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
    }

    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .options-cell {
        padding-top: 4px;
    }
} 