<h1 mat-dialog-title>Edytuj użytkownika</h1>
<div mat-dialog-content>
    <form fxLayout="column" [formGroup]="editForm">
        <mat-form-field>
            <input matInput type="email" placeholder="Adres email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Imię i nazwisko" formControlName="name" required>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" placeholder="Bez zmian" formControlName="password">
        </mat-form-field>
        <p class="mat-caption">Grupy</p>
        <div class="mat-body">{{ groupsString }}</div>
        <mat-select>
            <mat-option>opt 1</mat-option>
            <mat-option>opt 2</mat-option>
        </mat-select>
        <button mat-button>Dodaj grupę</button>
        <!-- <h3 matSubheader>Grupy poświadczeń</h3> -->
        <!-- <mat-form-field>
            <mat-select formControlName="group">
                <mat-option matInput *ngFor="let perm of availablePermissions" [value]="perm">{{ perm }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </form>
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button (click)="onCancelClick()">Anuluj</button>
        <button mat-raised-button (click)="onConfirmClick()">Zatwierdź zmiany</button>
    </div>
</div>