<h1 mat-dialog-title>Edytuj ucznia</h1>
<div mat-dialog-content class="form-container">
    <form class="form-container" [formGroup]="editForm">
        <mat-form-field>
            <input matInput placeholder="Imię i nazwisko" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="Adres email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="tel" placeholder="Nr telefonu" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Przedmioty" formControlName="needs">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Klasa" formControlName="class">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Notatki" formControlName="notes"></textarea>
        </mat-form-field>
        <div>
            <button mat-button (click)="onConfirmClick()">Zatwierdź zmiany</button>
            <button mat-button (click)="onCancelClick()">Anuluj</button>
        </div>
    </form>
</div>