<mat-card>
    <mat-card-title>
        Korepetytorzy
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="tutors">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
                <td mat-cell *matCellDef="let tutor" (click)="rowClicked(tutor)">{{ tutor.name }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let tutor" (click)="rowClicked(tutor)">{{ tutor.email }}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Telefon</th>
                <td mat-cell *matCellDef="let tutor" (click)="rowClicked(tutor)">{{ tutor.phone }}</td>
            </ng-container>

            <ng-container matColumnDef="teaches">
                <th mat-header-cell *matHeaderCellDef>Naucza</th>
                <td mat-cell *matCellDef="let tutor" (click)="rowClicked(tutor)">{{ tutor.teaches }}</td>
            </ng-container>

            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Notatki</th>
                <td mat-cell *matCellDef="let tutor" (click)="rowClicked(tutor)"
                    [innerHTML]="tutor.notes.replace('\n', '<br />')">
                </td>
            </ng-container>

            <ng-container matColumnDef="assignedPupilName">
                <th mat-header-cell *matHeaderCellDef>Uczeń</th>
                <td mat-cell data-label="Uczeń" *matCellDef="let tutor" (click)="rowClicked(tutor)">
                    {{ tutor.assignedPupilName }}
                </td>
            </ng-container>

            <ng-container *appAuthManager matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="options-cell" *matCellDef="let tutor">
                    <button mat-icon-button (click)="editTutor(tutor)">
                        <mat-icon svgIcon="pencil"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteTutor(tutor)">
                        <mat-icon svgIcon="delete"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *appAuthManager class="fab-container">
            <button mat-fab class="add-fab" color="primary" (click)="addTutorDialog()">
                <mat-icon svgIcon="plus"></mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>