table {
    width: 100%;
}

// .add-fab {
//     position: fixed !important;
//     bottom: 20px;
//     right: 20px;
// }

.main-container {
    padding: 15px;
}

.fab-container {
    width: 100%;
    padding-top: 5px;
    text-align: right;
}

.options-cell {
    text-align: right;
}