<mat-card>
    <mat-card-title>
        Uczniowie
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="pupils">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
                <td mat-cell *matCellDef="let pupil">{{ pupil.name }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let pupil">{{ pupil.email }}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Telefon</th>
                <td mat-cell *matCellDef="let pupil">{{ pupil.phone }}</td>
            </ng-container>

            <ng-container matColumnDef="needs">
                <th mat-header-cell *matHeaderCellDef>Potrzeby</th>
                <td mat-cell *matCellDef="let pupil">{{ pupil.needs }}</td>
            </ng-container>

            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef>Klasa</th>
                <td mat-cell *matCellDef="let pupil">{{ pupil.class }}</td>
            </ng-container>

            <ng-container *ngIf="authService.isManager()" matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="options-cell" *matCellDef="let pupil">
                    <button mat-icon-button (click)="editPupil(pupil)">
                        <mat-icon svgIcon="pencil"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="deletePupil(pupil)">
                        <mat-icon svgIcon="delete"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="authService.isManager()" class="fab-container">
            <button mat-fab class="add-fab" color="primary" (click)="addPupilDialog()">
                <mat-icon svgIcon="plus"></mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>