<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-menu></app-sidenav-menu>
    </mat-sidenav>
    <app-header [sidenav]="sidenav"></app-header>
    <div class="app-content" fxLayout="column" fxLayoutGap="10px">
        <app-pupils-list #pupilsList (pupilClicked)="showPupilDetails($event)"></app-pupils-list>
        <app-tutors-list #tutorsList (tutorClicked)="showTutorDetails($event)"></app-tutors-list>
    </div>
    <mat-sidenav #detailsSidenav position="end">
        <app-pupil-detailed-view *ngIf="selectedPupil" [pupil]="selectedPupil"
            (pupilChange)="pupilsList.refreshPupilsList()">
        </app-pupil-detailed-view>
        <app-tutor-detailed-view *ngIf="selectedTutor" [tutor]="selectedTutor"
            (tutorChange)="tutorsList.refreshTutorsList()"></app-tutor-detailed-view>
    </mat-sidenav>
</mat-sidenav-container>