<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center" role="header">
    <button mat-button class="bt-large" fxFlex="none" (click)="homeRedirect()">GC</button>
    <div class="vertical-divider"></div>
    <div fxFlex="none">Kurs Python</div>
    <div fxFlex></div>
    <button *appAuth="false" mat-button class="bt-medium" (click)="loginRedirect()" fxFlex="none">Zaloguj</button>
    <button *appAuth mat-button class="bt-medium" [matMenuTriggerFor]="menu">{{ authService.getName() }}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Wyloguj</button>
    </mat-menu>
    <!-- <button mat-button class="bt-large" fxFlex="none">Kurs Python</button>
        <button mat-button class="bt-large" fxFlex="none">Korepetycje</button>
        <button mat-button class="bt-large" fxFlex="none">Salka</button> -->
</mat-toolbar>