<div class="pupil-detailed-view-content-wrapper">
    <span class="mat-display-1 pupil-name">
        <mat-icon svgIcon="account-card-details" class="account-icon"></mat-icon>
        {{ pupil?.name }}
    </span>
    <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>Dane ucznia</h3>
        <app-editable-list-item [value]="pupil?.name" (save)="updatePupil($event, 'name')" validator="required">
            Imie i nazwisko ucznia
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.email" (save)="updatePupil($event, 'email')" validator="email">
            Email ucznia
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.phone" (save)="updatePupil($event, 'phone')">
            Numer telefonu ucznia
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.needs" (save)="updatePupil($event, 'needs')">
            Potrzeby
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.class" (save)="updatePupil($event, 'class')">
            Klasa
        </app-editable-list-item>

        <h3 matSubheader>Dane rodzica</h3>
        <app-editable-list-item [value]="pupil?.parentName" (save)="updatePupil($event, 'parentName')">
            Imię i nazwisko rodzica
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.parentEmail" (save)="updatePupil($event, 'parentEmail')"
            validator="email">
            Adres email rodzica
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.parentPhone" (save)="updatePupil($event, 'parentPhone')">
            Numer telefonu rodzica
        </app-editable-list-item>

        <h3 matSubheader>Korepetycje</h3>
        <app-editable-list-item [value]="pupil?.lessonsStatus" (save)="updatePupil($event, 'lessonsStatus')">
            Stan korepetycji
        </app-editable-list-item>
        <app-editable-list-item [value]="pupil?.notes" (save)="updatePupil($event, 'notes')" type="textarea">
            Notatki
        </app-editable-list-item>
        <app-selectable-list-item [value]="pupil?.assignedTutorId" [data]="tutorsList"
            (save)="updatePupil($event, 'assignedTutorId')">
            Korepetytor
        </app-selectable-list-item>
    </mat-list>
</div>