<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-content></app-sidenav-content>
    </mat-sidenav>
    <app-toolbar [sidenav]="sidenav"></app-toolbar>
    <div class="app-content">
        <mat-card class="login-form-container">
            <mat-card-title style="text-align: center;">Rejestracja</mat-card-title>
            <mat-card-content>
                <form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                    <mat-form-field>
                        <input matInput placeholder="Imię" formControlName="name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nazwisko" formControlName="surname" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="email" placeholder="Adres email" formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Hasło" formControlName="password" required>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Utwórz konto</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</mat-sidenav-container>