@import '../../../../../green-theme.scss';

.white {
    color: rgba(white, .95);
}

.dark {
    background-color: #1b1b1b;
    color: rgba(white, .95);
}


.main-foto {
    height: 500px;
}

.overlay {
    position: absolute;
    // color: mat-color(map-get($green-theme, primary));
    height: 56px;
    overflow: hidden;
}

.primary {
    color: $primary
}

.accent {
    color: $accent
}

.bg-primary {
    background-color: $primary;
}
.bg-accent {
    background-color: $accent;
}

.bg-gradient {
    // background-color: $primary-dark;
    background-image: radial-gradient($primary-light, $primary, $primary);
}