.pupil-detailed-view-content-wrapper {
    min-width: 40vw;
    max-width: 60vw;
    padding: 20px;
    margin-right: 8px;
}

.list-item-caption {
    min-width: 12px;
    padding-right: 8px;
}

.list-item-content {
    width: 100%;
}

.account-icon {
    height: 48px;
    width: 48px;
    transform: scale(2);
}

.pupil-name {
    margin-bottom: 16px;
    padding-left: 36px;
}