<mat-list-item>
    <h4 matLine class="mat-body-2 list-item-caption">
        <ng-content></ng-content>
    </h4>
    <p *ngIf="!editMode" class="mat-body-1 list-item-content">{{ display }}</p>
    <button *ngIf="!editMode" mat-icon-button (click)="editMode = true">
        <mat-icon svgIcon="pencil"></mat-icon>
    </button>
    <mat-form-field *ngIf="editMode" style="width: 100%">
        <mat-select [(ngModel)]="value" (ngModelChange)="submit()">
            <mat-option *ngFor="let element of data" [value]="element._id">{{ element.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="editMode" mat-icon-button (click)="submit()">
        <mat-icon svgIcon="check"></mat-icon>
    </button>
</mat-list-item>