<h1 mat-dialog-title>Edytuj użytkownika</h1>
<div mat-dialog-content class="form-container">
    <form class="form-container" [formGroup]="editForm">
        <mat-form-field>
            <input matInput placeholder="Imię" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nazwisko" formControlName="surname" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="Adres email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" placeholder="Bez zmian" formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="group">
                <mat-option matInput *ngFor="let perm of availablePermissions" [value]="perm">{{ perm }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-button (click)="onConfirmClick()">Zatwierdź zmiany</button>
            <button mat-button (click)="onCancelClick()">Anuluj</button>
        </div>
    </form>
</div>