<div fxFlexLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h3>{{ titlePrefix }} {{ exercise?.title }}</h3>
    <div fxFlex></div>
    <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <p class="score-label">Wynik: {{ exercise?.score }}/{{ exercise?.maxPoints }}</p>
        <mat-icon *ngIf="status === 'success'" svgIcon="check" color="primary"></mat-icon>
        <mat-icon *ngIf="status === 'failure'" svgIcon="close" color="warn"></mat-icon>
    </div>

    <button mat-raised-button color="accent" (click)="submit()" [disabled]="status === 'in-progress'">
        <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-spinner *ngIf="status === 'in-progress'" diameter="24"></mat-spinner>
            <mat-icon *ngIf="status !== 'in-progress'" svgIcon="console"></mat-icon>
            <span>
                Uruchom
            </span>
        </div>
    </button>
</div>
<!-- <div fxFlexLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px"> -->
<app-code-editor #editor [mode]="mode"></app-code-editor>
<!-- </div> -->