<mat-dialog-content>
    <div class="container mat-typography" [ngSwitch]="submission?.status" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
        <ng-container *ngSwitchCase="'WAITING'">
            <mat-spinner></mat-spinner>
            <h3>Oczekiwanie...</h3>
        </ng-container>
        <ng-container *ngSwitchDeafult>
            <mat-spinner></mat-spinner>
            <h3>Oczekiwanie...</h3>
        </ng-container>
        <ng-container *ngSwitchCase="'RUNNING'">
            <mat-spinner></mat-spinner>
            <h3>Wykonywanie testu {{ submission?.atTestcase }}...</h3>
        </ng-container>
        <ng-container *ngSwitchCase="'OK'">
            <mat-icon class="success-icon">task_alt</mat-icon>
            <h2>Sukces!</h2>
            <button mat-raised-button [mat-dialog-close]="true">Wróć do listy zadań</button>
        </ng-container>
        <ng-container *ngSwitchCase="'TIMEOUT'">
            <mat-icon class="failure-icon">error_outline</mat-icon>
            <h4>Przekroczono limit czasu na teście {{ submission?.atTestcase }}</h4>
            <button mat-raised-button mat-dialog-close>Zamknij</button>
        </ng-container>
        <ng-container *ngSwitchCase="'WRONG_ANSWER'">
            <mat-icon class="failure-icon">error_outline</mat-icon>
            <h4>Zła odpowiedź na teście {{ submission?.atTestcase }}</h4>
            <button mat-raised-button mat-dialog-close>Zamknij</button>
        </ng-container>
        <ng-container *ngSwitchCase="'ERROR'">
            <mat-icon class="failure-icon">error_outline</mat-icon>
            <h4>Wystąpił błąd na teście {{ submission?.atTestcase }}</h4>
            <button mat-raised-button mat-dialog-close>Zamknij</button>
        </ng-container>
    </div>
</mat-dialog-content>
