@import '../../../../../green-theme.scss';

.white {
    color: rgba(white, 0.95);
}

.dark {
    background-color: #1b1b1b;
    color: rgba(white, 0.95);
}

.main-foto {
    height: 500px;
}

.overlay {
    position: absolute;
    color: mat-color(map-get($green-theme, primary));
    height: 28px;
    overflow: hidden;
}

.primary {
    color: $primary;
}

.accent {
    color: $accent;
}

.shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bg-primary {
    background-color: $primary;
}
.bg-accent {
    background-color: $accent;
}

.bg-gradient {
    // background-color: $primary-dark;
    background-image: radial-gradient($primary-light, $primary, $primary);
}
